aiogram
aiohttp
aiosignal
alabaster
altair
anaconda-client
anaconda-navigator
anaconda-project
asn1crypto
astroid
astropy
async-timeout
asynctest
attrs
Babel
backports.shutil-get-terminal-size
backports.zoneinfo
beautifulsoup4
bitarray
blaze
bleach
blinker
bokeh
boto
Bottleneck
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
colorama
comm
commonmark
comtypes
conda
contextlib2
cryptography
cycler
Cython
cytoolz
dask
dataclasses
datashape
decorator
distlib
distributed
dlib
docopt
docutils
entrypoints
et-xmlfile
face-recognition
face-recognition-models
fastcache
filelock
Flask
Flask-Cors
frozenlist
fuzzymatcher
fuzzywuzzy
gevent
gitdb
GitPython
greenlet
h5py
HeapDict
html5lib
idna
idna-ssl
imagesize
importlib-metadata
importlib-resources
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itsdangerous
jdcal
jellyfish
Jinja2
joblib
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyterlab-widgets
lazy-object-proxy
Levenshtein
llvmlite
locket
lxml
MarkupSafe
matplotlib
menuinst
Metaphone
mistune
mpmath
msgpack-python
multidict
multipledispatch
navigator-updater
nbconvert
nbformat
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
odo
olefile
openai
openpyxl
packaging
pandas
pandocfilters
partd
path.py
pathlib2
patsy
pep8
pickleshare
Pillow
pipreqs
platformdirs
plotly
plotly-express
ply
prompt-toolkit
protobuf
psutil
py
pyahocorasick
pyarrow
pycosat
pycparser
pycrypto
pycurl
pydeck
pyflakes
Pygments
pylint
Pympler
pyodbc
pyOpenSSL
pyparsing
PyPDF2
pyreadline
pytest
python-dateutil
python-Levenshtein
pytz
pytz-deprecation-shim
PyWavelets
pywifi
pywin32
PyYAML
pyzmq
QtAwesome
qtconsole
QtPy
rapidfuzz
requests
rich
rope_py3k
scikit-image
scikit-learn
scipy
seaborn
semver
simplegeneric
singledispatch
six
smmap
snowballstemmer
sortedcollections
sortedcontainers
Sphinx
spyder
SQLAlchemy
statsmodels
streamlit
sympy
tables
tabula
tblib
tenacity
testpath
toml
toolz
tornado
tqdm
traitlets
typing
typing-extensions
tzdata
tzlocal
unicodecsv
urllib3
validators
virtualenv
watchdog
wcwidth
Werkzeug
widgetsnbextension
win-unicode-console
wrapt
xlrd
XlsxWriter
xlwings
xlwt
yarg
yarl
zict
zipp
